# Python
venv/
.venv/
__pycache__/
*.pyc

# Node
client/node_modules/
server/node_modules/
node_modules/

# Environment
.env
client/.env
server/.env
nlp-service/.env


# Build
dist/
build/

# Uploads (IMPORTANT)
server/uploads/

# OS
.DS_Store
Thumbs.db